<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elden Ring Boss Helper</title>
    <style>
        h1, h2 {
            color: gold;
        }
    </style>
</head>
<body>
    <h1>Elden Ring Boss Helper</h1>

    <h2>Stat Input:</h2>
    <form action="/submit" method="POST">
        <div>
            <label for="vig">Vigor</label>
            <input type="number" id="vig" name="vig" placeholder="#" required>
        </div>
        <br>

        <div>
            <label for="mind">Mind</label>
            <input type="number" id="mind" name="mind" placeholder="#" required>
        </div>
        <br>

        <div>
            <label for="end">Endurance</label>
            <input type="number" id="end" name="end" placeholder="#" required>
        </div>
        <br>

        <div>
            <label for="str">Strength</label>
            <input type="number" id="str" name="str" placeholder="#" required>
        </div>
        <br>

        <div>
            <label for="dex">Dexterity</label>
            <input type="number" id="dex" name="dex" placeholder="#" required>
        </div>
        <br>

        <div>
            <label for="int">Intelligence</label>
            <input type="number" id="int" name="int" placeholder="#" required>
        </div>
        <br>

        <div>
            <label for="fth">Faith</label>
            <input type="number" id="fth" name="fth" placeholder="#" required>
        </div>
        <br>

        <div>
            <label for="arc">Arcane</label>
            <input type="number" id="arc" name="arc" placeholder="#" required>
        </div>
        <br>

        <h2>Boss Selection:</h2>
        <select name="Boss" id="Boss" required>
            <option value=""></option>
            <option value="rahdan">Rahdan</option>
            <option value="margit">Margit</option>
            <option value="radagon">Radagon</option>
            <option value="morgott">Morgott</option>
            <option value="rykard">Rykard</option>
            <option value="godfrey">Godfrey</option>
            <option value="godrick">Godrick</option>
            <option value="malenia">Malenia</option>
            <option value="renalla">Renalla</option>
            <option value="mogh">Mogh</option>
            <option value="maliketh">Maliketh</option>
            <option value="gods">Godskin Duo</option>
            <option value="dlord">Dragonlord Placidusax</option>
            <option value="sg">Sir Gideon Ofnir</option>
            <option value="eb">Elden Beast</option>
            <option value="fg">Fire Giant</option>
        </select>
        <br><br>

        <input type="submit" value="Submit">
    </form>

    <br>
    <img src="/static/dejection.jpg" width="400" height="200" alt="hopeless">
</body>
</html>

	

